<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjlr.data.CjlrsjMapper">
  <select id="selectCjlrsj" resultType="Cjlrsj">
    SELECT * FROM cjgl_cjlrsjsz WHERE xn = #{xn} AND xq = #{xq} AND kslx = 0
  </select>
</mapper>