<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjlr.data.XnxqMapper">
  <select id="selectXnxqAll" resultType="Xnxq">
    SELECT * FROM xtgl_xnxqszb ORDER BY xndm DESC, xqdm DESC
  </select>
</mapper>